section{
  border:2px solid blue;
} 
h3{
  border:2px solid brown;
}

.div1{
  border:2px solid grey;
}
.div2{
  border:2px solid grey;
}
.div3{
  border:2px solid violet;
}
.div4{
  border:2px solid black;
}